// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Raleway', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/// Header font family
/// @type List
$header-font-stack: 'Raleway','Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;


/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;



$black: #2d2d2d;
$white: #fff;

/// Copy text color
/// @type Color
$text-color: $black;

/// Main brand color
/// @type Color
$brand-color: #f461a8;

/// Light grey
/// @type Color
$light-grey: #EDEDED;

/// Medium grey
/// @type Color
$mid-grey: #F5F5F5;

/// Dark grey
/// @type Color
$dark-grey: #444;





/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1200px;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
);






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/';
